.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.formBarcode{
  display: flex;
  flex-direction: column;
}
.main-title{
  font-size: 45px;
  font-weight: 600;
}
.formBarcode > label.title-labeltype{
  font-size: 17px;
  margin-bottom: 20px;
 
}

.formBarcode > input{
  margin-bottom: 20px;
}


.barcode-container{
  display: flex;
  align-items: center;
}

.code-name-container{
  display: flex;
  justify-content: space-between;
}
  .code-name-container > h1{
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom: 6px;
  }

  .small-label >h1{
    font-size: 35px !important;
  }
  .big-label > h1{
    font-size: 55px !important;
  }


  @page {
    margin:0cm;
  }