.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.formBarcode{
  display: flex;
  flex-direction: column;
}
.formBarcode > label{
  font-size: 25px;
  margin-bottom: 20px;
}

.formBarcode > input{
  margin-bottom: 20px;
}
