.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.formBarcode{
  display: flex;
  flex-direction: column;
}
.formBarcode > label{
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 600;
}

.formBarcode > input{
  margin-bottom: 20px;
}


.barcode-container{
  display: flex;
  align-items: center;
}

.code-name-container{
  display: flex;
  justify-content: space-between;
}
  .code-name-container > h1{
    margin-right: 8px;
    margin-left: 8px;
    font-size: 55px;
  }